body {
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "width" 100;
  margin: 0;
  padding: 0;
}
/* hero section */
#Hero {
    background-color: #FFF8F3;
    /* height: 837px;
    width: 1600px; */
    background-image: url(images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top 35px left 24px , right 0 bottom 0;
    margin-bottom: 150px;
}
/* nav section */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}
/* icon section */
nav h3 {
    font-size: 42px;
    font-weight: 800;
}
nav h3 span {
    color: rgba(253, 110, 10, 1);
}
nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
}
nav ul li {
    font-size: 20px;
    font-weight: 400;
}
nav ul li a {
    text-decoration: none;
    color: #000000;
}
.btn {
    background-color: rgba(253, 110, 10, 1);
    color: #FFFFFF;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
#bat {
    align-items: top;
}
/* title */
#title {
    padding-left: 150px;
    width: 585px;
}
.sub {
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    width: 177px;
height: 61px;
}
.mary {
    font-size: 85px;
    width: 498px;
height: 116px;
}
.typo {
    font-size: 18px;
    color: 757575;
    line-height: 30px;
    width: 585px;
    height: 60px;
    font-weight: 400;

}
.bot {
    display: flex;
    gap: 30px;
}
#con {
    background-color: rgb(252, 245, 237);
    color: rgba(253, 110, 10, 1);
    border: solid 1px rgba(253, 110, 10, 1);
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    gap: 9px;
}
.banner {
    display: flex;
    justify-content: space-between;
}
  /*img sec  */
#hardy {
width: 584px;
height: 676px;
padding-right: 20px;
}

main {
    max-width: 1450px;
    margin: 0 auto;
}
/* About me section */
#about {
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 131px;
}

.about-content {
    max-width: 900px;
    max-height: 360px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30;
}
.common-h2 {
    color: rgba(24, 24, 24, 1);
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}
.type {
    color: rgba(117, 117, 117, 1);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}
.data p {
    color: rgba(117, 117, 117, 1);
    font-size: 20px;
    font-weight: 400;
}

/* What I do section */
.typ {
    color: rgba(117, 117, 117, 1);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    max-width: 909px;
    max-height: 90px;
    margin: 0 auto;
}
.card-sec {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.card-items {
    border-radius: 5px;box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);background: rgba(255, 255, 255, 1);
    padding: 35px;
    max-width: 190px;
    max-height: 300px;
}
.card-h3 {
    color: rgba(24, 24, 24, 1);font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0%;text-align: left;
}
.card-p {
    color: rgba(117, 117, 117, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;letter-spacing: 0%;text-align: left;
}

/* Summary section */
.flxo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
    gap: 70px;
    width: 87%;
    margin: 0 auto;
}
.sum-h2{
   color: rgba(71, 71, 71, 1);
font-family: Open Sans;
font-size: 30px;
font-weight: 700;
line-height: 41px;
letter-spacing: 0%;
text-align: left; 
}
.sum-h3 {
color: rgba(71, 71, 71, 1);
font-family: Open Sans;
font-size: 30px;
font-weight: 700;
line-height: 41px;
letter-spacing: 0%;
text-align: left;
}
.sum-pt{
color: rgba(117, 117, 117, 1);

font-family: Open Sans;
font-size: 20px;
font-weight: 600;
line-height: 27px;
letter-spacing: 0%;
text-align: left;
}
.sum-p{
color: rgba(117, 117, 117, 1);

font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
}
#btn-1 {
    text-align: center;
    margin-top: 50px;
}

/* Footer section */
#fot {
    background-color: #FFF8F3;
    padding: 150px 200px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    max-width:1660px;
    height: 500px;
    margin-top: 150px;
}
.last {
    align-items: left;
}
.common-last {
    color: rgba(24, 24, 24, 1);
font-size: 35px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
}
.typ-last {
    color: rgba(71, 71, 71, 1);

font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
}
#text {
  border-radius: 5px;
background: rgba(255, 255, 255, 1);
margin: 24px 0;
border: none;
padding: 23px 20px;
width: 100%;
color: rgba(117, 117, 117, 1);

font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
}
#email {
      border-radius: 5px;
background: rgba(255, 255, 255, 1);
border: none;
padding: 23px 20px;
width: 100%;
color: rgba(117, 117, 117, 1);

font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
}
#textarea {
    border-radius: 5px;
    background: rgba(255, 255, 255, 1);
    border: none;
    padding: 23px 20px;
    width: 100%;
    resize: none;
    margin: 20px 0;
    color: rgba(117, 117, 117, 1);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}