body {
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "width" 100;
  margin: 0;
  padding: 0;
}
/* hero section */
#Hero {
    background-color: #FFF8F3;
    /* height: 837px;
    width: 1600px; */
    background-image: url(images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top 35px left 24px , right 0 bottom 0;
}
/* nav section */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}
/* icon section */
nav h3 {
    font-size: 42px;
    font-weight: 800;
}
nav h3 span {
    color: rgba(253, 110, 10, 1);
}
nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
}
nav ul li {
    font-size: 20px;
    font-weight: 400;
}
nav ul li a {
    text-decoration: none;
    color: #000000;
}
.btn {
    background-color: rgba(253, 110, 10, 1);
    color: #FFFFFF;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
#bat {
    align-items: top;
}
/* title */
#title {
    padding-left: 150px;
    width: 585px;
}
.sub {
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    width: 177px;
height: 61px;
}
.mary {
    font-size: 85px;
    width: 498px;
height: 116px;
}
.typo {
    font-size: 18px;
    color: 757575;
    line-height: 30px;
    width: 585px;
    height: 60px;
    font-weight: 400;

}
.bot {
    display: flex;
    gap: 30px;
}
#con {
    background-color: rgb(252, 245, 237);
    color: rgba(253, 110, 10, 1);
    border: solid 1px rgba(253, 110, 10, 1);
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    gap: 9px;
}
.banner {
    display: flex;
    justify-content: space-between;
}
  /*img sec  */
#hardy {
width: 584px;
height: 676px;
padding-right: 20px;
}